<div class="container-fuid login-container" ng-controller="LoginCtrl" >
    <div ng-click='login()' ng-show='!isLogin && hasStatus'class="col-md-offset-3 col-md-6 facebook-login">
      <div class="bg-danger">Important: Clicking the button below means that you are committed to participate Secret Santa.</div>
      <img src="images/santa@High.png" class="santa-image" />
      <button id="fb-button" class="btn btn-large btn-primary">
        Sign up with Facebook
      </button>
    </div>
    <div class="row">
      <div ng-show='hasProfile' class="profile col-xs-12 col-md-12">
        <span ng-show='hasRecipient' class="profile-name"> Hello! {{name}}, please prepare your present before Saturday 12/20, your recipient is </span>
        <span ng-show='waitForRecipient' class="profile-name"> Hello! {{name}}, </span>

      </div>

      <div ng-show='waitForRecipient' class="waiting col-xs-12 col-md-offset-3 col-md-8">
        Check back Thursday night to see who you need to get a gift for.
      </div>

      <div ng-show="hasRecipient" class="recipient col-xs-12 col-md-offset-3 col-md-8">
        <div class="image-holder">
           <img class="recipient-img img-responsive img-circle" src="{{recipientPic}}"/>
        </div>
        <span class="recipient-name"><i class="glyphicon glyphicon-gift"></i> {{recipientName}}</span>
      </div>
    </div>
  </div>
</div>
